img {
    width: 200px;
    display: block;
    filter: grayscale(1);
    animation: myAnimation 2s ease 1s 3 alternate forwards;
}

@keyframes myAnimation {
    100% {
        transform: rotate(360deg);
    }
}